<section class="form-section">
  <div class="text">
    <h3>
      Fique por dentro das tendências
    </h3>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit ea non tempore ducimus laboriosam, amet velit doloribus odio, et animi unde optio beatae voluptatem nam? Quisquam id architecto optio odit.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit ea non tempore ducimus laboriosam, amet velit doloribus odio, et animi unde optio beatae voluptatem nam? Quisquam id architecto optio odit.
    </p>
  </div>
  <form>
    <label for="name">Name</label>
    <input id="name" />
    <label for="email">Email</label>
    <input id="email" />
    <btn-primary btn-text="se inscreva" variant="secondary"></btn-primary>
  </form>
</section>
