.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  span {
    font-size: 20px;
    font-weight: 700;
  }

  h1 {
    font-size: 72px;
    font-weight: 900;
  }
}

@media (max-width: 1800px) {
  .main-section {
    flex-direction: row;
  }
}
